
/*----------------
#reiniciatudo
/*----------------*/

*{
margin: 0 auto;
padding: 0;
}

p,
h1,
h2,
h3,
h4,
span,
label{
  font-family: 'Open Sans', sans-serif;
}
/*----------------
#reiniciatudo
/*----------------*/

body{
  background-color: #FF8B00;
}
/*----------------
#container
----------------*/

.container{
  max-width: 595px;
  margin: 0 auto;
}

.container__item1__titulo{
  color:#fff;
  padding-top: 30px;
  margin-bottom:40px;
  font-size: 3.1255em;
  text-align: center;
  line-height: 1;
}
.container__item1__content{
  background-color: #FFF2E4;
  max-width: 506px;
  margin: 0 auto;
  padding: 23px;
  box-sizing: border-box;
  position: relative;
  display: none;
}

@keyframes fadeInDown{
  from{
    transform: translate3d(0,-30px,0);
    opacity: 0;
  }

  to{
    opacity: 1;
    transform: translate3d(0,0px,0);
  }
} 

.container__item1__content.ativo{
  display: block;
  animation: fadeInDown .3s forwards;
}



.container__item1__content__span{
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.3em;
  color: #FF9A00;
  cursor: pointer;
  padding: 5px 10px;
}

.container__item1__content h3{
  font-size: 0.875em;
  margin-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  font-weight: bold;
  line-height: 1;
 
}
.container__item1__content h2{
  font-size: 3.1255em;
  font-weight: bold;
  margin-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 1;
}
.container__item1__content__div{
  padding: 0 25px;
}
.container__item1__content__div__ul{
  list-style: none;
  text-align: left;
}
.container__item1__content__div__ul--display{
  display: inline-block;
}
.container__item1__content__div__ul--margin-right{
  margin-right: 30px;
}

.container__item1__content__div__ul--margin-left{
  margin-left: 10px;
}
.container__item1__content__div__ul--margin-bottom{
  margin-bottom: 20px;
}
.container__item1__content__div__ul--font-size{
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}
.container__item1__content__div__ul--back-ground-color{
  color: #FF9A00;
}


.container__item1__content__week{
  margin-top: 20px;
  border-top: 1px solid #FF8B00;
  padding-left:  25px;
  padding-top: 20px;
}
.container__item1__content__week_ul{
  list-style: none;
}



.container__item1__content__week_ul li{
  display: inline-block;
  
  
}
.container__item1__content__week_ul--margin-right{
  margin-right: 15px;
  
}
.container__item1__content__week--font-size {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  line-height: 1;
  margin-bottom: 5px;
 
}
.container__item1__content__week--color{
  color:#FF8B00;
  font-size: 16px;
  font-weight: bold;
}
.container__item1__content__week--color span{
  padding-right: 1px;
  padding-left: 1px;
}

/*
# estlizando o input de pesquisa
*/

.container__item2__div{
  max-width: 506px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  width: 100%;
  position: relative;
  /*box-sizing: border-box;
  */
}
.container__item2__div__input{
  height:58px;
  margin:0;
  padding-right: 30px;
  padding-top: 5px;
  padding-left: 20px;
  width: 100%;
  font-size: 24px;
  box-sizing: border-box;
  outline: none;
  color:#505050;
  border:1px solid #FF8B00;
}
.container__item2__div__icon{
  position:absolute;
  right:16px ;
  top: 12px;
  color:#505050;
  cursor: pointer;
}


/*
# estlizando o container item -3 
*/
.container__item3{
  margin-top: 40px;
  border-top: solid 1px rgb(255,255,255,0.5);
}

.container__item3_content{
  max-width: 595px;
  margin: 0 auto;
  padding-left: 23px;
  padding-right: 23px;
}
.container__item3_content h3{
  font-size: 2.2em;
  font-weight: bold;
  margin-bottom: 30px;
  padding-left: 25px;
  padding-right: 25px;
  line-height: 1;
  color:#fff;
  margin-top: 10px;
}
.container__item3_content__div{
  padding-left: 25px;
  padding-right: 25px;
}

.container__item3_content__div p{
  font-size: 1em;
  margin-bottom: 20px;
}
.container__item3_content__div_info{
  display: inline-block;
}
.container__item3__ul{
  list-style: none;
}
.container__item3__ul li{
  margin-bottom: 30px;
  font-size: 1em;
  font-weight: bold;
}

.container__item3__ul__span--margin-right{
  margin-right: 10px;
}
.container__item3__ul__span--margin-left{
  margin-left: 20px;
}

.container__item3__ul__div--margin-left{
  margin-left: 60px;
}

/*
* responsividade
*/

@media(max-width: 520px){
  .container{
    max-width: 100%;
  }
  .container__item2__div{
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
    box-sizing: border-box;
  }
 
  .container__item2__div__input{
   width: 100%;
   font-size: 1.125em;
  }
  .container__item2__div__icon{
    right: 35px;
  }
  .container__item3__ul__div--margin-left {
    margin-left: 0px;
}

.container__item1__content__week_ul--display{
  display: none !important;
}
.container__item3_content__div_info__p{
  display: none;
}
}
